body {
	background-color: red;
}

/*Type/element selector*/
h1 {
	font-weight: bolder;
	font-style: italic;
}

/*ID selector*/
#gallery-heading {
	text-align: center;
	color: white;
}

/*Class selector*/

.heading {
	letter-spacing: 10px;
}

/*Universal selector*/
* {
	font-family: arial;
	font-weight: bolder;
}


/*Commonly-used CSS Properties*/

nav {
	background-color: navy;
	text-align: center;
	height: 10px;
	line-height: 100px;
}

.nav-item {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	text-decoration: none;
	color: white;
}